<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @*<title>Finnid Pro - Nidhi Softwares | Company Registration | Trademarks | GST</title>*@
    @*<meta name="description" description=" Finnid Pro Offers - Company Registration, Private Limited, LLP, Nidhi Company Registration and Software, Register Trademarks online, GST Registration, and ITR Filling" />
        <meta name="keywords" keywords="Nidhi Banking Software, Nidhi registration online, MSME registration,  Income Tax, GST, goods and services tax, IEC, service tax registration, company registration online, register company in India, private limited company registration, trademark registration India" />*@

    <title>Finind - @ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Meta-Description"]" />
    <meta name="keywords" content="@ViewData["Meta-Keywords"]" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link href="~/Content/assets/css/app.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/assets/css/Style.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/cfa1dfe582.js" crossorigin="anonymous"></script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NG975KP');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Ads: 299768034 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-299768034"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-299768034');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '912269219672580');
        fbq('track', 'PageView');
    </script>

    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=912269219672580&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "AccountingService",
        "name": "finnidpro",
        "image": "https://finnidpro.com/images/logo.png",
        "@@id": "",
        "url": "https://finnidpro.com/",
        "telephone": "09335688885",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "C-1/65 VINEET KHAND, GOMATI NAGAR, LUCKNOW",
        "addressLocality": "Lucknow",
        "postalCode": "226010",
        "addressCountry": "IN"
        },
        "geo": {
        "@@type": "GeoCoordinates",
        "latitude": 26.848866,
        "longitude": 81.01532700000001
        },
        "openingHoursSpecification": {
        "@@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Saturday"
        ],
        "opens": "10:00",
        "closes": "18:00"
        },
        "sameAs": [
        "https://www.facebook.com/finnidpro/",
        "https://twitter.com/Finnidpro"
        ]
        }
    </script>

    <style>
        #no_script {
            display: none;
            visibility: hidden
        }
    </style>

</head>
<body>
    <div class="wrapper">
        <section id="navbar">
            <div class="navbar">
                <div class="site-container">
                    <nav class="navbar-main">
                        <a href="/" class="navbar-logo">
                            <img src="../images/logo.png" alt="site logo">
                        </a>
                        <ul>
                          @*  <li class="navbar-sub">
                                <a href="#">Company</a>
                                <div class="navbar-sub__items">
                                    <ul>
                                        <li><a href="/about-us">About us</a></li>
                                        <li><a href="/faq">FAQs</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="navbar-sub">
                                <a href="#">Services</a>
                                <div class="navbar-sub__items">
                                    <ul>
                                        <li><a href="/nidhi-company-registration">Nidhi Company Registration</a></li>
                                        <li><a href="/public-limited-company-registration">Public Limited Company Registration</a></li>
                                        <li><a href="/private-limited-company-registration">Private Limited Company Registration</a></li>
                                        <li><a href="/producer-company-registration">Farmers Producer Company Registration</a></li>                       
                                    </ul>
                                </div>
                            </li>
                            <li class="navbar-sub">
                                <a href="#">Software</a>
                                <div class="navbar-sub__items">
                                    <ul>
                                        <li><a href="#">Nidhi Company Software </a></li>
                                    </ul>
                                </div>
                            </li>*@
                            <li><a href="/pricing">Pricing</a></li>        
                            <li><a href="/contact-us">Contact Us</a></li>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li><a href="/Account/Login">Login</a></li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="/Dashboard">Dashboard</a></li>
                            }
                            <li class="navbar-sub">
                                <a href="#">Documents</a>
                                <div class="navbar-sub__items">
                                    <ul>
                                        <li><a href="/PDF/fpo.pdf" target="_blank">Presentation</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li></li>
                        </ul>
                        <div class="hamburger hamburger--stand">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="sider">
                    <div class="sider-content">
                        <a href="./">
                            <img src="../images/sider-logo.png" alt="Site logo">
                        </a>
                        <ul>
                            <li class="sider__sub">
                                <a href="#">Company</a>
                                <ul class="sider__links">
                                    <li><a href="/about-us">About us</a></li>
                                    <li><a href="/faq">FAQs</a></li>

                                </ul>
                            </li>
                            <li class="sider__sub">
                                <a href="#">Services</a>
                                <ul class="sider__links">
                                    <li><a href="/nidhi-company-registration">Nidhi Company Registration</a></li>
                                    <li><a href="/public-limited-company-registration">Public Limited Company Registration</a></li>
                                    <li><a href="/private-limited-company-registration">Private Limited Company Registration</a></li>
                                    <li><a href="/producer-company-registration">Farmers Producer Company Registration</a></li>
                                    @*<li><a href="#">LLP Registration</a></li>
                                    <li><a href="#">Micro Finance Registration</a></li>
                                    <li><a href="#">Society Registration</a></li>
                                    <li><a href="#">NBFC Registration</a></li>
                                    <li><a href="/services">+ More Software</a></li>*@
                                </ul>
                            </li>

                            <li class="sider__sub">
                                <a href="#">Software</a>
                                <ul class="sider__links">
                                    <li><a href="#">Nidhi Company Software </a></li>
                                    @*<li><a href="#">Saving Account</a></li>
                                        <li><a href="#">Saving Plus Account</a></li>
                                        <li><a href="#">Fixed Deposit</a></li>
                                        <li><a href="#">Daily Deposit</a></li>
                                        <li><a href="#">Monthly Deposit</a></li>
                                        <li><a href="/feature">+More Feature</a></li>*@
                                </ul>
                            </li>


                            <li><a href="/pricing">Pricing</a></li>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li><a href="/Account/Login">Login</a></li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="/Dashboard">Dashboard</a></li>
                            }
                            @*<li><a href="/download">Download</a></li>*@
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        @RenderBody()
        <section id="footer">
            <div class="site-container">
                <div class="footer">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-4">
                            <div>
                                <a href="./">
                                    <img src="~/images/ft-logo.png" alt="FinnidPro Logo">
                                </a>
                                <p>
                                    Bridging between you & your success.
                                </p>
                            </div>
                            <div class="socil-icon">
                                <ul>
                                    <li>
                                        <a target="_blank" href="#">
                                            <span>
                                                <i class="fa fa-facebook"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <span>
                                                <i class="fa fa-twitter"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <span>
                                                <i class="fa fa-instagram"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <span>
                                                <i class="fa fa-linkedin"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </li>
                                    @*<li>
                                            <a target="_blank" href="https://g.page/diptimateconsultants?share">
                                                <span>
                                                    <i class="fa fa-google"
                                                       aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.youtube.com/channel/UCISgEydNiqXhS1XfGKilOsA">
                                                <span>
                                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://in.pinterest.com/diptimateconsultants">
                                                <span>
                                                    <i class="fa fa-pinterest-p"
                                                       aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.reddit.com/user/DiptimateConsultants">
                                                <span>
                                                    <i class="fa fa-reddit"
                                                       aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.quora.com/profile/Diptimate-Consultants-Pvt-Ltd">
                                                <span>
                                                    <i class="fa fa-quora"
                                                       aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </li>*@
                                    <!-- <li>
                                      <a target="_blank" href="https://www.tumblr.com/blog/diptimateconsutants"><span><i class="fa fa-tumblr-square"
                                            aria-hidden="true"></i></span></a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2">
                            <h3>Useful Links</h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about-us">About Us</a></li>
                                @* <li><a href="/services">Services</a></li>
                                <li><a href="/feature">Features</a></li>*@
                                <li><a href="/pricing">Pricing & Plans</a></li>
                                @*@<li><a href="/faq">FAQs</a></li>*@
                            </ul>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <h3>Finnid</h3>
                            <ul>
                                @*<li><a href="/serviceagreement">Service Agreement</a></li>*@
                                @*<li><a href="/Home/contact">Visit Demo Account</a></li>*@
                                <li><a target="_blank" href="/Account/login">User Login</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-lg-4 col-xl-3">
                            <h3>Contact Us</h3>
                            <a href="#">
                                <i class="fa fa-map-marker"></i> KP - 4/371, Khargapur, Gomti Nagar,<br /> Lucknow - 226010 (Near Sankat Mochan Dwar)<br />
                                @*<i class="fa fa-map-marker"></i> 2nd Floor, Nanda Bhawan - 5A Ashok Avenue, <br />Sapru Marg Hazratganj Lucknow-226001*@
                            </a>
                            <a href="mailto:welisten@finnid.in"><i class="fa fa-envelope-o"></i> welisten@finnid.in</a>
                            @*<a href="tel:05223567620"><i class="fa fa-phone"></i> 0522 356 7620</a>*@
                            <a href="tel:919335688885"><i class="fa fa-phone"></i> +91-93356 88885</a>
                        </div>
                    </div>
                    @*<div class="dipti-logo">
                        <a href="#">
                            <img src="../images/logo-footer.png" alt="Diptimate Logo">
                        </a>
                    </div>
                    <div class="finid-policy">
                        <ul>
                            <li><a href="/terms">Terms &amp; Condition </a></li>
                            <li><a href="/terms">Privacy Policy</a></li>
                            <li><a href="/terms">Confidentiality Policy</a></li>
                            <li><a href="/terms">Payment/Refund Policy</a></li>
                            <li><a href="/terms">Disclaimer</a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
            <div class="copyrights">
                <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Finnid Infotech Private Limited All Rights Reserved.</p>
            </div>
        </section>
        <!-- /FOOTER -->
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <div id="back-to-top">
        <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
        <span>Top</span>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/Content/assets/js/scrpit.js"></script>
    <script src="~/Content/assets/js/site.js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe id="no_script" src="https://www.googletagmanager.com/ns.html?id=GTM-NG975KP" height="0" width="0"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @RenderSection("Scripts", false)
</body>
</html>
